<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
    <title><%= title %> - Tourism-e</title>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>.
    <script>
        tinymce.init({
          selector: '#mytextarea',
          min_height: 500
        });
    </script>
</head>

<body class="bodyCustom">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-custom-dark">
            <% include partials/nav %>
        </nav>
    </header>
</body>

<main role="main" class="container">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="jumbotron text-center">
            <h1>Editing test - Tourism-e</h1>
            <p class="lead">Let's try to edit something with TinyMCE</p>
            <hr class="my-4">
            <form method="post" action="../savepage">
                <textarea id="mytextarea" name="mytextarea"><%- data.content %></textarea>
                <input type="hidden" value="1" name="pageId">
                <button type="submit" class="btn btn-success">Save modifications</button>
            </form>
        </div>
</main>
<footer class="footer">
    <% include partials/footer %>
</footer>

<% include partials/default-scripts %>

</html>