<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
    <title><%= title %> - Tourism-e</title>
</head>

<body class="bodyCustom">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-custom-dark">
            <% include partials/nav %>
        </nav>
    </header>
</body>

<main role="main" class="container">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="jumbotron text-center">
            <h1>Editing test - Tourism-e</h1>
            <p class="lead">Let's try to edit something with CKEditor 5</p>
            <hr class="my-4">
            <div id="editor">
                <%- data.content %>
            </div>
        </div>
</main>
<footer class="footer">
    <% include partials/footer %>
</footer>

<% include partials/default-scripts %>
<script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>

<script>
    var data = '<%- data.content %>';

    console.log(data)
    
    ClassicEditor
    .create( document.querySelector( '#editor' ), {
        toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
        heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
            ]
        }
    } )
    .catch( error => {
        console.log( error );
    } );
</script>

</html>