<div class="container">
    <span class="text-muted"><img id="navbar-logo" src="../assets/img/logo-white.png" alt="Go to Tourism-e home page.">
        , a #Diiage2022 project. Created by Team 3 in Diiage.</span>
</div>